<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Management Account</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/manage/account/admin">Admin</a></li>
                        <li><a href="/admin/manage/account/student">Student</a></li>
                        <li><a href="/admin/manage/account/lecturer">Lecturer</a></li>
                        <li><a href="/admin/manage/account/department">Department</a></li>
                        <li><a href="/admin/manage/account/faculty">Faculty</a></li>
                    </ul>
                </li>
                <li class="text-muted menu-title">More</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->